@media (min-width: $desktop-width) {
  .page-main__country-price-wrapper {
    background-image: url("../../img/world-map.png");
    background-size: 1440px 1089px;
    background-repeat: no-repeat;
    background-position: left 50% top 132px;
  }
}
